@model JunjiIto.Models.Libro

@{
    ViewData["Title"] = "Detalles";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<h1>Detalles</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoLibro)
        </dt>
    </dl>
    <dl class="row" style="float:left;width:50%;">
        <dd class = "col-sm-10">
            <img src="~/Portadas/@Html.DisplayFor(model => model.FotoLibro)" />"
        </dd>
    </dl>
</div>
<div class="d-flex gap-2">
    <a asp-action="Editar" asp-route-id="@Model?.Id" class="btn btn-red-sm rounded-1">
        <i class="fas fa-edit"></i>Editar
     </a>

    <form asp-action="Eliminar" asp-route-id="@Model?.Id" method="post"
          onsubmit="return confirm('¿Estás seguro que deseas eliminar esta obra?');" class="m-0">
          <button type="submit" class="btn btn-red-sm rounded-1">Eliminar</button>
    </form>

    <a asp-action="Index" class="btn btn-red-sm rounded-1">
        <i class="fas fa-arrow-left"></i> Volver a obras
    </a>
</div>
